<div id="container">
  <div class="row">
    <img src="/images/poncho-diagram-1.png" class="img-responsive img-center" style="margin: 0 auto;" />
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="row">
    <img src="/images/poncho-diagram-2.png" class="img-responsive img-center" style="margin: 0 auto;" />
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="row">
    <img src="/images/poncho-diagram-3.png" class="img-responsive img-center" style="margin: 0 auto;" />
  </div>
</div>