<% if @warning %>
<div class="col-md-12 danger">
  <%= @warning %>
</div>
<% end %>
<% if @onboarding %>
  <h2>Welcome</h2>
  <p>Welcome to the Bot Analysis platform. To start digging, you'll just need to set your password now:</p>
<% else %>
  <h2>Reset Password</h2>
  <p>Looks like you need to reset your password. To reset and get back to work, you'll just need to set your password now:</p>
<% end %>
<form action="/users/set_password" method="post">
  Password: <input type="password" class="form-control" id="password" size="60" name="password">
  Confirm: <input type="password" class="form-control" id="password_confirm" size="60" name="password_confirm">
  <input type="hidden" class="form-control" id="user_id" name="user_id" value="<%= @user.id %>">
  <input type="hidden" class="form-control" id="onboarding" name="onboarding" value="<%= @onboarding %>">
  <button type="submit" class="btn btn-primary">Set Password</button>      
</form>    
